./packages/proteus_types
./packages/proteus.datasets
./packages/proteus_models
./packages/proteus.models.maskrcnn
./packages/proteus.models.mobilenet
./packages/proteus.models.resnet50
./packages/proteus.models.efficientnetlite4
./packages/proteus.models.retinanet
./packages/proteus.models.efficientdet
./packages/proteus.models.yolov4
./packages/proteus.models.superres
./packages/proteus.models.efficientpose